{{ $params := .Site.Params.contact }}
{{ with .Site.Data.contact }}
    <section class="section" id="contact"
            {{ with .background_image }}
                style="background-image: url('{{ (printf "images/%s" .) | absURL }}');"
            {{ end }}
        >
        {{ with .title }}
        <div class="container-fluid">
            {{ partial "title-bar.html" (dict "title" . "align" $params.title_align "length" $params.title_length) }}
        </div>
        {{ end }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 text-center">
                    <div class="profile bg-secondary">
                        {{ with .photo }}
                            <div class="portrait" title="photo: {{ . }}" style="background-image: url('{{ (printf "images/%s" .) | absURL }}');"></div>
                        {{ end }}

                        {{ with .description }}
                            <div class="text-primary">
                                <p>{{ . | markdownify }}</p>
                            </div>
                        {{ end }}

                        <div class="email-link" itemprop="email">
                            {{ with .email }}
                                {{ if .link }}
                                <a href="mailto:{{ .address }}">
                                {{ end }}
                                    {{ if .icon }}
                                        {{ $pack := or .icon_pack "fa" }}
                                        <i class="{{ $pack }} {{ .icon }}" aria-hidden="true">
                                    {{ end }}
                                    {{ .address }}
                                    </i>
                                {{ if .link }}
                                </a>
                                {{ end }}
                            {{ end }}
                        </div>

                        <ul class="icons-list" aria-hidden="true">
                            {{ range .social }}
                                {{ $pack := or .icon_pack "fa" }}
                                <li>
                                    <a itemprop="sameAs" href="{{ .link | safeURL }}" target="_blank" rel="noopener">
                                        <i class="{{ $pack }} {{ .icon }} icon-x2 wow bounceIn"></i>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
