{{ "<!-- HOME -->" | safeHTML }}
{{ with .Site.Data.home }}
    <section id="home"
            {{ with .background }}
                style="background-image: url('{{ (printf "images/%s" .) | absURL }}');"
            {{ end }}
        >
        <div class="header-content">
            <div class="header-content-inner">
                {{ with .title }}
                    <h1 class="wow bounceIn">{{ . | markdownify  }}</h1>
                {{ end }}
                {{ with .subtitle }}
                    <h2>{{ . | markdownify }}</h2>
                {{ end }}
                {{ if .title }}
                    <hr class="primary">
                {{ end }}
                {{ with .text }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
                {{ if .button_image }}
                    <a href="#about" class="btn-image page-scroll">
                        <img src={{ .button_image }} />
                    </a>
                {{ else if .button_text }}
                    <a href="#about" class="btn btn-primary page-scroll">
                        {{ .button_text }}<br>
                    </a>
                {{ else if .button_icon }}
                    {{ with .button_icon }}
                        <a href="#about" class="btn-icon btn-primary page-scroll {{ .pack }} {{ .icon }} icon-x6">
                        </a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
