{{ "<!-- SKILLS -->" | safeHTML }}
{{ $data := .Site.Data.skills }}
<section class="section" id="skills">
    {{ with $data.title }}
        <div class="container-fluid">
            <div class="row">
                <div class="text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1 text-primary">
                <p>{{ $data.text | markdownify }}</p>
            </div>
            {{ with $data.download }}
            <div class="col-lg-4 col-lg-offset-8 text-center">
                <a href="/files/{{ .filename }}" download class="btn btn-primary btn-xl">
                    {{ with .button_text }}
                        {{ . }}
                    {{ end }}
                    {{ if .icon }}
                        {{ $pack := or .icon_pack "fa" }}
                        <i class="{{ $pack }} {{ .icon }} wow bounceIn"></i>
                    {{ end }}
                </a>
            </div>
            {{ end }}
        </div>

        {{/* Tags & Categories */}}
        {{ $project_sections := .Site.Params.projects.categories }}
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="skills-container">
                    {{ $label := or $data.tags_label "TAGS" }}
                    <h4>{{ $label }}</h4>
                    <div class="tags">
                        {{ range $project_sections }}
                            {{ with $.Site.GetPage "section" . }}
                                {{ $params := (dict "type" "tags" "context" . "scratch" .Scratch "removeDuplicates" true) }}
                                {{ partial "utils/list-keywords.html" $params }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="skills-container">
                    {{ $label := or $data.categories_label "CATEGORIES" }}
                    <h4>{{ $label }}</h4>
                    <div class="tags">
                        {{ range $project_sections }}
                            {{ with $.Site.GetPage "section" . }}
                                {{ $params := (dict "type" "categories" "context" . "scratch" .Scratch "removeDuplicates" true) }}
                                {{ partial "utils/list-keywords.html" $params }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
