<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body id="page-top">
        {{ block "header" . }}
            <header>
                {{ partial "nav.html" (dict "context" . "fixed" false) }}
                {{ partial "pages/hero.html" . }}
            </header>
        {{ end }}

        {{ block "body" . }}
            {{/* TODO: 'main' tag should not contain sidebars! */}}
            <main id="list-content">
                {{ block "sidebar" . }}
                    {{ partial "pages/sidebar.html" . }}
                {{ end }}
                <div class="list-page">
                    <div class="list-page-container">
                        <article class="list-page-content">
                            {{ block "title" . }}
                                {{ partial "pages/title.html" . }}
                            {{ end }}

                            {{ block "content" . }}{{ end }}

                            {{ block "lists" . }}
                                {{ partial "pages/lists.html" . }}
                            {{ end }}
                        </article>
                    </div>
                    {{ block "sidebar-bottom" . }}
                        {{ partial "pages/sidebar-bottom.html" . }}
                    {{ end }}
                </div>
                {{ partial "list-custom" . }}
            </main>
        {{ end }}

        {{ block "footer" . }}
            <footer>
                {{ partial "footer.html" . }}
            </footer>
        {{ end }}
        {{ block "tail" . }}
            {{ partial "tail.html" . }}
        {{ end }}
    </body>
</html>
