<div class="col-lg-4 col-sm-6">
    {{ $path := replace .Dir "\\" "/" }}
    <a href="/{{ $path }}" class="project-box project-link">
        {{ $image_file := or .Params.cover_image .Params.small_image }}
        {{ if $image_file }}
            {{ $image := .Resources.GetMatch $image_file }}
            {{ with $image }}
                <img src="{{ .RelPermalink | relURL }}" class="img-responsive" alt="{{ .Name }}">
            {{ end }}
        {{ end }}

        <div class="project-box-caption">
            <div class="project-box-caption-content">
                {{ with .Title }}
                    <div class="project-name">
                        {{ . }}
                    </div>
                {{ end }}
                {{ with .Params.subtitle }}
                    <div class="project-category">
                        {{ . }}
                    </div>
                {{ end }}
                {{ if .Params.startDate }}
                    <div class="project-date">
                        From {{ .Params.startDate }}
                        {{ with .Params.endDate }}
                            to {{ . }}
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </a>
</div>
