{{ "<!-- SIDEBAR.HTML -->" | safeHTML }}
<div class="sidebar sticky">
    {{ "<!-- Small Image -->" | safeHTML }}
    {{ if .Params.small_image }}
        {{ $image := .Resources.GetMatch .Params.small_image }}
        {{ with $image }}
            <div class="sidebar-image">
                {{ if $.Params.small_url }}
                <a href="{{ $.Params.small_url | absURL }}" target="_blank">
                {{ end }}
                    {{ $alt := or $.Params.small_url "" }}
                    <img src="{{ .Permalink }}" alt="{{ $alt }}">
                {{ if $.Params.small_url }}
                </a>
                {{ end }}
            </div>
        {{ end }}
    {{ else }}
        <div class="empty-padding"></div>
    {{ end }}

    <div class="sidebar-links">
        {{ "<!-- Navigation Tree -->" | safeHTML }}
        <div class="sidebar-tree">
            {{ $parent := .Parent }}
            {{ if eq .Kind "term" }}
                {{/* TODO: check if ok on published site! */}}
                {{ $parent = site.GetPage "/" }}
            {{ end }}
            {{ if $parent }}
                {{ with $parent }}
                    <a class="parent-link" href="{{ .Permalink }}">
                        {{ if not .IsHome }}
                            <i class="fas fa-chevron-circle-left"></i>
                            {{ .Title }}
                        {{ else }}
                            <i class="fas fa-home"></i>
                            HOME
                        {{ end }}
                    </a>
                {{ end }}
            {{ else }}
                {{/* JavaScript should be moved to common/external JS file */}}
                <a href="javascript:void(0)" class="parent-link" onclick="javascript:window.history.back()">
                    <i class="fas fa-chevron-circle-left"></i>
                    BACK
                </a>
            {{ end }}

            {{ if (or (not (isset .Params "showbrothers")) (.Params.showbrothers)) }}
                {{ if $parent }}
{{/*
                    {{ if eq .Kind "section" }}
                        {{ partial "utils/ordered-list.html" (dict "list" $parent.Sections "params" $parent.Params "scratch" .Scratch) }}
                    {{ else }}
                        {{ partial "utils/ordered-list.html" (dict "list" $parent.Pages "params" $parent.Params "scratch" .Scratch) }}
                    {{ end }}
*/}}
{{/* TODO: want to keep possibility to have only 'sections'? could add param in config... */}}
{{ partial "utils/ordered-list.html" (dict "list" (union $parent.Sections $parent.Pages) "params" $parent.Params "scratch" .Scratch) }}

                    {{ $current := . }}
                    <ul>
                        {{ range (.Scratch.Get "list") }}
                            {{ if eq $current . }}
                            <li class="active">
                            {{ else }}
                            <li>
                            {{ end }}
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>

                    {{ .Scratch.Delete "list" }}
                {{ end }}
            {{ end }}
        </div>

        {{ if .Parent }}
            {{/* not displaying 'categories' in 'tags' page */}}
            {{ if not (and (eq .Kind "taxonomy") (eq .Name "Categories")) }}
             <br>
            {{ "<!-- Categories -->" | safeHTML }}
            <div>
                <div class="tag-title">CATEGORIES</div>
                <div class="tags">
                    {{/* List categories without duplicates */}}
                    {{ partial "utils/list-keywords.html" (dict "type" "categories" "context" . "scratch" .Scratch "removeDuplicates" true) }}
                </div>
            </div>
            {{end}}
            {{/* not displaying 'tags' in 'categories' page */}}
            {{ if not (and (eq .Kind "taxonomy") (eq .Name "Tags")) }}
            <br>
            {{ "<!-- Tags -->" | safeHTML }}
            <div>
                <div class="tag-title">TAGS</div>
                <div class="tags">
                    {{/* List tags without duplicates */}}
                    {{ partial "utils/list-keywords.html" (dict "type" "tags" "context" . "scratch" .Scratch "removeDuplicates" true) }}
                </div>
            </div>
            {{end}}
        {{ end }}
    </div>
</div>
