{{ "<!-- HOMEPAGE.HTML -->" | safeHTML }}

{{ $sections := .Site.Params.homepage.sections }}

{{ if in $sections "home" }}
    {{ partial "sections/home.html" . }}
{{ end }}

{{ if in $sections "about" }}
    {{ partial "sections/about.html" . }}
{{ end }}

{{ if in $sections "services" }}
    {{ partial "sections/services.html" . }}
{{ end }}

{{ if in $sections "skills" }}
    {{ partial "sections/skills.html" . }}
{{ end }}

{{ if in $sections "projects" }}
    {{ range .Site.Params.projects.categories }}
        {{ with $.Site.GetPage "section" . }}
            {{ partial "sections/projects.html" . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if in $sections "contact" }}
    {{ partial "sections/contact.html" . }}
{{ end }}
