{{/* Get the number of columns from config */}}
{{ $nb_col_lg := 6 }}
{{ $nb_col_sm := 4 }}
{{ $nb_col_xs := 2 }}
{{ with .data }}
    {{ with .nb_columns }}
        {{ $nb_col_lg = int . }}
    {{ end }}
    {{ with .nb_columns_small }}
        {{ $nb_col_sm = int . }}
    {{ end }}
    {{ with .nb_columns_xsmall }}
        {{ $nb_col_xs = int . }}
    {{ end }}
{{ end }}
{{ $col_lg := print "col-lg-" (div 12 (int $nb_col_lg)) }}
{{ $col_sm := print "col-sm-" (div 12 (int $nb_col_sm)) }}
{{ $col_xs := print "col-xs-" (div 12 (int $nb_col_xs)) }}
{{ $class_hide := "" }}
{{ if .fit }}
    {{ $nb_rows := int (div .nb $nb_col_lg) }}
    {{ if and (ge .nb $nb_col_lg) (gt .index (mul $nb_rows $nb_col_lg)) }}
        {{ $class_hide = print $class_hide " hide_lg" }}
    {{ end }}
    {{ $nb_rows = int (div .nb $nb_col_sm) }}
    {{ if and (ge .nb $nb_col_sm) (gt .index (mul $nb_rows $nb_col_sm)) }}
        {{ $class_hide = print $class_hide " hide_sm" }}
    {{ end }}
    {{ $nb_rows = int (div .nb $nb_col_xs) }}
    {{ if and (ge .nb $nb_col_xs) (gt .index (mul $nb_rows $nb_col_xs)) }}
        {{ $class_hide = print $class_hide " hide_xs" }}
    {{ end }}
{{ end }}
{{ $class := print $col_lg " " $col_sm " " $col_xs $class_hide }}
<div class="{{ $class }}">
    {{ $path := replace .context.File.Dir "\\" "/" }}
    <a href="/{{ $path }}" class="project-box project-link">
        {{ $image_file := or .context.Params.cover_image .context.Params.small_image }}
        {{ if $image_file }}
            {{ $image := .context.Resources.GetMatch $image_file }}
            {{ with $image }}
                <img src="{{ .Permalink }}" class="img-responsive" alt="{{ .Name }}">
            {{ end }}
        {{ end }}
        <div class="project-box-caption">
            <div class="project-box-caption-content">
{{/* TODO: handle title image + add CSS */}}
{{/*
                {{ if .context.Params.title_image }}
                    {{ $image_file := or .context.Params.cover_image .context.Params.title_image }}
                    {{ if $image_file }}
                        {{ $image := .context.Resources.GetMatch $image_file }}
                        {{ with $image }}
                            <img src="{{ .Permalink }}" class="img-responsive" alt="{{ .Name }}" style="padding-bottom:1em;">
                        {{ end }}
                    {{ end }}
                {{ end }}
*/}}
                {{ with .context.Title }}
                    <div class="project-name">
                        {{ . }}
                    </div>
                {{ end }}
                {{ with .context.Params.subtitle }}
                    <div class="project-category">
                        {{ . }}
                    </div>
                {{ end }}
                {{ with .context.Params.subtitle2 }}
                    <div class="project-category2">
                        {{ . }}
                    </div>
                {{ end }}
                {{ if .context.Params.startDate }}
                    <div class="project-date">
                        {{ partial "time-period.html" (dict "startDate" .context.Params.startDate "endDate" .context.Params.endDate) }}
                    </div>
                {{ end }}
            </div>
        </div>
    </a>
</div>