{{/*
    Parameters:
    - length: width of title bar
    - align: alignment (left|center|right)
    - title: the title text
*/}}
<div class="row">
    {{ $title_length := 10 }}
    {{ with .length }}
        {{ $title_length = . }}
    {{ end }}
    {{ if eq .align "left" }}
    <div class="col-md-{{ $title_length }} section-title-left">
    {{ else if eq .align "right" }}
    <div class="col-md-{{ $title_length }} col-md-offset-{{ sub 12 $title_length }} section-title-right">
    {{ else }}
    <div class="col-md-{{ $title_length }} col-md-offset-{{ div (sub 12 $title_length) 2 }} section-title-center">
    {{ end }}
        {{ with .title }}
        <h2 class="section-heading">{{ . }}</h2>
        <hr class="section-hr">
        {{ end }}
    </div>
</div>