{{/*
    Parameters:
    - list: (Sections) or (Pages)
    - params: (Params)
    - scratch: (Scratch)
*/}}
{{/* Determine "order" & "reverse" */}}
{{ $order := "" }}
{{ $reverse := false }}
{{ if eq (index .list 0).Kind "section" }}
    {{ $order = .Site.Params.projects.sections_order }}
    {{ $reverse = .Site.Params.projects.sections_order_reverse }}
    {{ with .params.sections_order }}
        {{ $order = . }}
        {{ if $.params.sections_order_reverse }}
            {{ $reverse = true }}
        {{ else }}
            {{ $reverse = false }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ $order = .Site.Params.projects.posts_order }}
    {{ $reverse = .Site.Params.projects.posts_order_reverse }}
    {{ with .params.posts_order }}
        {{ $order = . }}
        {{ if $.params.posts_order_reverse }}
            {{ $reverse = true }}
        {{ else }}
            {{ $reverse = false }}
        {{ end }}
    {{ end }}
{{ end }}

{{/* Sort the list depending on order */}}
{{ if $reverse }}
    {{ .scratch.Set "list" (.list.ByParam $order).Reverse }}
{{ else }}
    {{ .scratch.Set "list" (.list.ByParam $order) }}
{{ end }}
